<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org./1999/xhtml" xmlns:sec="http://www.w3.org./1999/xhtml">
<head th:replace="common/header :: common-header" />
<body>

  <div th:replace="adminHome :: navbarAdmin"> </div>

  <div class="container page-content">
    <form th:action="@{/article/add}" method="post" enctype="multipart/form-data">
      <fieldset>
        <legend class="center-block">
          New Article Information
        </legend>
              
        <div class="form-group row">
          <label for="title" class="col-2 col-form-label text-right">Title</label>
          <div class="col-6">
            <input type="text" class="form-control" id="title" name="title">
          </div>
        </div>
        <div class="form-group row">
          <label for="category" class="col-2 col-form-label text-right">Category</label>
          <div class="col-6">
            <input type="text" class="form-control" id="categories" name="category" data-role="tagsinput">
          </div>
          <div class="col-4">
            <button type=button class="btn btn-primary btn-category badge badge-pill badge-primary mr-1 mb-1" th:each="item : ${allCategories}" 
            th:text="${item}" th:id="item+${category}"></button>           
          </div>          
        </div>
        <div class="form-group row">
          <label for="brand" class="col-2 col-form-label text-right">Sizes</label>
          <div class="col-6">
            <input type="text" class="form-control" id="sizes" name="size" data-role="tagsinput">
          </div>
          <div class="col-4">
            <button type=button class="btn btn-primary btn-size" th:each="item : ${#lists.sort(allSizes)}" th:text="${item}" th:id="size+${item}"></button>           
          </div>          
        </div>
        <div class="form-group row">
          <label for="brand" class="col-2 col-form-label text-right">Brand</label>
          <div class="col-6">
            <input type="text" class="form-control" id="brands" name="brand" data-role="tagsinput">
          </div>
          <div class="col-4">
            <button type=button class="btn btn-primary btn-brand badge badge-pill badge-primary mr-1 mb-1" th:each="item : ${allBrands}" 
            th:text="${#strings.capitalize(item)}" th:id="brand+${item}"></button>           
          </div>
        </div>
        <div class="form-group row">
          <label for="price" class="col-2 col-form-label text-right">Price</label>
          <div class="col-6 input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">$</span>
            </div>
            <input th:value="${article.price}" type="number" name="price" step="0.1"
  				class="form-control" id="price" placeholder="List Price" />
          </div>
        </div>
        
        <div class="form-group row">
          <label for="stock" class="col-2 col-form-label text-right">Available stock</label>
          <div class="col-6">
            <input th:value="${article.stock}" type="number"
                        name="stock" class="form-control" id="stock"
                        placeholder="Number of in-stock" />
          </div>
        </div>       
        
        <div class="form-group row">
          <label for="picture" class="col-2 col-form-label text-right">Article image link</label>
          <div class="col-6">
            <input type="text" class="form-control" id="picture" name="picture">
          </div>
        </div>
        
        <div class="form-group row">
          <div class="offset-2 col-6">
          	<button type="submit" class="btn btn-success">Add Article</button>
              <a class="btn btn-danger" th:href="@{/admin}">Cancel</a>
          </div>
        </div>
    </fieldset>
  </form>
  </div>



  <div th:replace="common/header :: body-scripts"> </div>
  <script src="/js/tagsinput-custom.js"></script>
  

</body>
</html>