<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org./1999/xhtml">
<head th:replace="common/header :: common-header" />


<body>
  <div th:replace="common/header :: navbar"> </div>

  <div class="container">
    <div class="row" style="margin-bottom: -100px;">
      <div class="col-8">
        <h2 class="section-headline"> <span>Store</span> </h2>
      </div>
      <div class="col-4">
        <img src="/image/logo.png" class="img-fluid">
      </div>
    </div>
    <hr style="position:absolute; width:100%; height:6px; background-color:#333; z-index:-1; margin-top:-80px;">
    <img class="img-fluid" src="/image/wood.png" style="margin-top: -75px;">
    
    <form th:action="@{/shopping-cart/add-item}" method="post">
    	<input hidden="hidden" th:field="*{article.id}" />  
    	<div class="row" style="margin-top: 120px;">
    		<div class="col-3">
    			<a th:href="@{/store}">Back to store</a><br/>
    			<img class="img-fluid" th:src="@{/image/article/}+${article.id}+'.png'" />
    		</div>
    		
    		<div class="col-9">        
                <h3><span th:if="${addArticleSuccess}" style="color: forestgreen">Added to cart</span></h3>
                <h3><span th:if="${notEnoughStock}" style="color: red">Oops, only <span th:text="${article.stock}"></span> In Stock</span></h3>
    			<h3 th:text="${article.title}">Book Title</h3>
    			<div class="row">
    				<div class="col-5">
    					<p><strong>Author: </strong><span> Some Dude</span></p>
    					<p><strong>Publisher: </strong><span>A publisher</span></p>
    					<p><strong>Publication Date: </strong><span>01-01-2018</span></p>
    					<p><strong>Language: </strong><span>English</span></p>
    					<p><strong>Category: </strong><span th:text="${article.category}"></span></p>
    					<p><strong>Pages:</strong><span>500</span></p>
    					<p><strong>ISBN: </strong><span>123123123123</span></p>
    					<p><strong>Shipping Weight: </strong><span>10 Kg</span> ounces</p>
    				</div>
    				
    				<div class="col-7">
    					<div class="card" style="border-width: 5px; margin-top: 20px;">
    						<div class="card-body">
    							<div class="row">
    								<div class="col-6">
    									<h4>Unit Price: <span style="color:#db3208;">$<span th:text="${article.price}"></span></span></h4>    									
    									<span>Qty: </span>
    									<select name="qty">
    										<option th:each="qty : ${qtyList}" th:value="${qty}" th:text="${qty}">
    										</option>
    									</select>
                      
    								</div>
    								<div class="col-6">
    									<h4 th:if="*{article.stock&gt;10}" style="color: green">In Stock</h4>
    									<h4 th:if="*{article.stock&lt;10 and article.stock&gt;0}" style="color: green">Only <span th:text="${article.stock}+' In Stock'"></span></h4>
    									<h4 th:if="*{article.stock==0}" style="color:darkred;">Unavailable</h4>
    									<button type="submit" class="btn btn-warning" style="color:black;border:1px solid black; padding: 10px 40px 10px 40px;">Add to Cart</button>
    								</div>
    							</div>
    						</div>
    					</div>
    				</div>
    			</div>
    			
    			<hr/>
    			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                   sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
                   nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor 
                   in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat 
                   cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    		</div>
    	</div>
    </form>
    

  </div>
  
  <div th:replace="common/header :: body-scripts"> </div>
</body>
</html>