<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org./1999/xhtml">
<head th:replace="common/header :: common-header" />


<body>
  <div th:replace="common/header :: navbar"> </div>

  <div class="container">
    <div class="row" style="margin-bottom: -100px;">
      <div class="col-8">
        <h2 class="section-headline"> <span>Checkout</span> </h2>
      </div>
      <div class="col-4">
        <img src="/image/logo.png" class="img-fluid">
      </div>
    </div>
    <hr style="position:absolute; width:100%; height:6px; background-color:#333; z-index:-1; margin-top:-80px;">
    <img class="img-fluid" src="/image/wood.png" style="margin-top: -75px;">
    
    <form th:action="@{/checkout}" method="post">
      <div class="row" style="margin-top: 10px;">

        <!-- Left Panel -->
        <div class="col-4">
       <!--   <div class="panel panel-default">
            <div class="panel-body">
              <button type="submit" class="btn btn-warning btn-block">Place
                your order</button>
              <p style="font-size: smaller;">
                By placing your order, you agree to Le's Bookstore <a href="#">privacy</a>
                notice and <a href="#">conditions</a> of use.
              </p>
              <hr />
              <h3>Order Summary</h3>
              <div class="row">
                <div class="col-xs-7 text-left">Total before tax:</div>
                <div class="col-xs-5 text-right">
                  $<span th:text="${shoppingCart.grandTotal}"></span>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-7 text-left">Estimated tax:</div>
                <div class="col-xs-5 text-right">
                  $<span th:with="tax=${shoppingCart.grandTotal*0.06}"
                      th:text="${#numbers.formatDecimal(tax, 0 ,2)}"></span>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-7 text-left">
                  <h3 style="color: darkred;">
                    <strong>Order Total: </strong>
                  </h3>
                </div>
                <div class="col-xs-5 text-right">
                  <h3>
                    <strong style="color: darkred;">$<span
                      th:with="total=${shoppingCart.grandTotal+shoppingCart.grandTotal*0.06}"
                      th:text="${#numbers.formatDecimal(total, 0 ,2)}"></span></strong>
                  </h3>
                </div>
              </div>
              <div class="panel-footer">Shipping and handling haven't
                applied.</div>
            </div>
          </div> -->
        </div>

        <!-- Checkout Info -->
        <div class="col-8">
          <div th:if="${missingRequiredField}">
            <h5 class="alert alert-warning">There are some fields
              missing. Field with * is required.</h5>
          </div>
          
          <div id="accordion">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Shipping Address
                  </button>
                </h5>
              </div>    
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                  <div class="form-group">
                    <label for="receiver">* Name</label> <input type="text"
                      class="form-control" id="receiver"
                      placeholder="Receiver Name" name="receiver" />
                  </div>

                  <div class="form-group">
                    <label for="streetAddress">* Street Address</label> <input
                      type="text" class="form-control" id="streetAddress"
                      placeholder="Street Address" name="streetAddress" />
                  </div>
                  

                  <div class="row">
                    <div class="col-4">
                      <div class="form-group">
                        <label for="city">* City</label> <input type="text"
                          class="form-control" id="city"
                          placeholder="Shipping City" th:name="city"
                          required="required"/>
                      </div>
                    </div> 
                    <div class="col-4">
                      <div class="form-group">
                        <label for="country">* Country</label> <input type="text"
                          class="form-control" id="country"
                          placeholder="Shipping City" th:name="country"
                          required="required"/>
                      </div>
                    </div>                  
                    <div class="col-4">
                      <div class="form-group">
                        <label for="zipCode">* Zipcode</label> <input
                          type="text" class="form-control" id="zipCode"
                          placeholder="Zipcode"
                          th:name="zipCode" required="required" />
                      </div>
                    </div>
                  </div>
                  <a data-toggle="collapse" data-parent="#accordion"
                    class="btn btn-warning pull-right" href="#collapseTwo">Next</a>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Payment Information
                  </button>
                </h5>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                  <div class="row">
                    <div class="col-12">
                      <img src="/image/creditcard.png" class="img-fluid" /><br />
                      <div class="form-group">
                        <label for="cardType">* Select Card Type: </label> <select
                          class="form-control" id="cardType" name="type">
                          <option value="visa">Visa</option>
                          <option value="mastercard">Mastercard</option>
                          <option value="discover">Discover</option>
                          <option value="amex">American Express</option>
                        </select>
                      </div>

                      <div class="form-group">
                        <label for="cardHolder">* Card Holder Name:</label> <input
                          type="text" class="form-control" id="cardHolder"
                          required="required" placeHolder="Card Holder Name"
                          th:name="holderName" />
                      </div>
                      <div class="form-group">
                        <label for="cardNumber">* Card Number:</label>
                        <div class="input-group">
                          <input type="tel" class="form-control" id="cardNumber"
                            required="required" placeHolder="Valid Card Number"
                            th:name="cardNumber"  />
                         <!--   <span class="input-group-addon"><i
                            class="fa fa-credit-card" aria-hidden="true"></i></span>-->
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-7">
                      <div class="form-group">
                        <label>* Expiration Date</label>
                        <div class="row">
                          <div class="col-6">
                            <select class="form-control" name="expiryMonth"
                              required="required">
                              <option disabled="disabled">-- Month --</option>
                              <option value="01">Jan (01)</option>
                              <option value="02">Feb (02)</option>
                              <option value="03">Mar (03)</option>
                              <option value="04">Apr (04)</option>
                              <option value="05">May (05)</option>
                              <option value="06">June (06)</option>
                              <option value="07">July (07)</option>
                              <option value="08">Aug (08)</option>
                              <option value="09">Sep (09)</option>
                              <option value="10">Oct (10)</option>
                              <option value="11">Nov (11)</option>
                              <option value="12">Dec (12)</option>
                            </select>
                          </div>
                          <div class="col-6">
                            <select class="form-control" name="expiryYear">
                              <option disabled="disabled">-- Year --</option>
                              <option value="2020">2020</option>
                              <option value="2021">2021</option>
                              <option value="2022">2022</option>
                              <option value="2023">2023</option>
                              <option value="2024">2024</option>
                              <option value="2025">2025</option>
                              <option value="2026">2026</option>
                              <option value="2027">2027</option>
                              <option value="2028">2028</option>
                              <option value="2029">2029</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-5">
                      <div class="form-group">
                        <label for="cardCVC">CV Code</label> <input id="cardCVC"
                          type="tel" class="form-control" name="cvc" placeholder="CVC"/>
                      </div>
                    </div>
                  </div>
                  <a data-toggle="collapse" data-parent="#accordion"
                    class="btn btn-warning pull-right" href="#collapseThree">Next</a>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Review items and shipping
                  </button>
                </h5>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                  <div class="row">
                    <div class="col-8">
                      <h4>Products</h4>
                    </div>
                    <div class="col-2">
                      <h4>Price</h4>
                    </div>
                    <div class="col-2">
                      <h4>Qty</h4>
                    </div>
                  </div>

                  <!-- display products in cart -->
                  <div class="row" th:each="cartItem : ${cartItemList}">
                      <hr />
                      <div class="col-2">
                        <a th:href="@{/article-detail(id=${cartItem.article.id})}"> <img
                          class="img-fluid"
                          th:src="@{/image/article/}+${cartItem.article.id}+'.png'"
                          style="width: 70px;" />
                        </a>
                      </div>
                      <div class="col-6">
                        <div style="margin-left: 50px;">
                          <h4><a th:href="@{/article-detail?id=}+${cartItem.article.id}" th:text="${cartItem.article.title}">></a></h4>
                          <p th:if="${cartItem.article.stock&gt;10}"
                            style="color: green;">In Stock</p>
                          <p
                            th:if="${cartItem.article.stock&lt;10 and cartItem.article.stock&gt;0}"
                            style="color: green;">
                            Only <span th:text="${cartItem.article.stock}"></span>
                            In Stock
                          </p>
                          <p th:if="${cartItem.article.stock==0}"
                            style="color: darkred;">Product Unavailable</p>
                          <a th:href="@{/shopping-cart/remove-item?id=}+${cartItem.id}">delete</a>
                        </div>
                      </div>

                      <div class="col-2">
                        <h5 style="color: #db3208; font-size: large;">
                          $<span th:text="${cartItem.article.price}"
                            th:style="${cartItem.article.stock}==0? 'text-decoration: line-through' : ''"></span>
                        </h5>
                      </div>

                      <div class="col-2">
                        <h5 style="font-size: large;" th:text="${cartItem.qty}"></h5>
                      </div>
                    
                  </div>

                  <hr />
                  <h4 class="col-12 text-right">
                    <strong style="font-size: large;">Order Total (<span
                      th:text="${#lists.size(cartItemList)}"></span> items):
                    </strong> <span style="color: #db3208; font-szie: large;">$<span
                      th:text="${shoppingCart.grandTotal}"></span></span>
                  </h4>
                  <br />
                  <br />
                  <button type="submit" class="btn btn-warning btn-block">Place
                    your order</button>
                  <p style="font-size: smaller;">
                    By placing your order, you agree to Le's Bookstore <a href="#">privacy</a>
                    notice and <a href="#">conditions</a> of use.
                  </p>

                </div>
              </div>
            </div>
          </div> <!--  end accordion -->          
        </div>
      </div>
    </form>  
  </div> <!--  end container -->
  
  <div th:replace="common/header :: footer"> </div>  
  <div th:replace="common/header :: body-scripts"> </div>
</body>
</html>