<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org./1999/xhtml">
<head th:replace="common/header :: common-header" />


<body class="d-flex flex-column">
  <div th:replace="common/header :: navbar"> </div>

  <div class="container page-content">       
    <form th:action="@{/shopping-cart/update-item}" method="post">   
    <input hidden="hidden" id="newqty" th:name="qty">    
    <input hidden="hidden" id="newid" th:name="id">     
    <div class="card">
      <div class="card-body">
         <div class="row border-bottom  pb-2 pt-2" th:each="cartItem : ${cartItemList}">        
           <div class="col-12 col-md-6">
              <div class="row align-items-center">              
                <div class="col-4">
                  <a th:href="@{/article-detail?id=}+${cartItem.article.id}"><img class="img-fluid" th:src="${cartItem.article.picture}" alt="${cartItem.article.title}"></a>
                </div>
                <div class="col-8">
                  <a th:href="@{/article-detail?id=}+${cartItem.article.id}" class="h6 bold d-inline-block" th:text=${cartItem.article.title}></a>
                  <div><i data-feather="check-circle" class="text-success"></i> In Stock</div>                  
                  <div><small><b>Size</b>: <span th:text="${cartItem.size}"></span></small></div>                  
                  <small><b>Unit Price</b>: $<span th:text="${#numbers.formatDecimal(cartItem.article.price, 0, 'COMMA', 2, 'POINT')}"></span></small>
                </div>                
              </div>  
           </div>                 
           <div class="col-12 col-md-6">
              <div class="row align-items-center mt-3">           
                <div class="col-5">
                  <div class="row ">
                    <label th:for="${cartItem.id}" class="col-sm-6 col-form-label text-sm-right">Qty</label>
                    <div class="col-sm-6">
                      <input th:id="${cartItem.id}" th:disabled="${cartItem.article.stock==0}" 
                         type="number" min="0" max="${cartItem.article.stock}"
                         class="form-control cartItemQty" th:value="${cartItem.qty}">
                      <button style="display: none;"
                          th:id="'update-item-'+${cartItem.id}" type="submit"
                          class="btn btn-warning btn-xs">Update</button>                                     
                    </div>
                  </div>            
                </div>
                <div class="col-5 text-right">
                  <span class="font-weight-bold">$ <span th:id="'price'+${cartItem.id}" th:text="${#numbers.formatDecimal(cartItem.subtotal, 0, 'COMMA', 2, 'POINT')}"></span></span>
                </div>
                <div class="col-2 ">
                  <a th:href="@{/shopping-cart/remove-item?id=}+${cartItem.id}"><i class="mb-1" data-feather="trash-2"></i></a>                              
                </div>
             </div>   
           </div> 
         </div>
         <div class="text-center mt-3">
            <div th:if="${#lists.isEmpty(cartItemList)}">The cart is empty! </div>
            <small class="counter">TOTAL</small>
            <h3 class="font-weight-bold">$ <span th:text="${#numbers.formatDecimal(shoppingCart.getGrandTotal(), 0, 'COMMA', 2, 'POINT')}"></span></h3>
            <a th:href="@{/store}" class="btn btn-info rounded-pill "><i data-feather="arrow-left"></i> Back to shop</a>            
            <a th:href="@{/checkout}" class="btn btn-primary rounded-pill">Checkout <i data-feather="arrow-right"></i></a>
        </div>
      </div>
    </div>
    </form> 
  </div> 
  
  <div th:replace="common/header :: footer"> </div>
  <div th:replace="common/header :: body-scripts"> </div>
  <script>
    $(document).ready(function(){
  		$(".cartItemQty").on('change', function(){
  			var id=this.id;	
  			var qty=this.value;
  			$('#newqty').val(qty)
  			$('#newid').val(id)
  			$('#update-item-'+id).css('display', 'inline-block');
  		});
    });
  </script>
  
</body>
</html>